<header>
    <h1 class="title">Rooted Intelligence</h1>
</header>

<section class="parallax"></section>

<section class="content">
    <h2>Why Rooted Intelligence?</h2>
    <p>...</p>
</section>

<section class="parallax"></section>

<section class="content">
    <h2>Our Team</h2>
    <p>...</p>
</section>
