.body{
    font-family: black text;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.p {
    font-family: 'Ariel', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: black
    margin-bottom: 20px;
    text-align: center;
}

.h1 {
    font-family:'Franklin Gothic Medium', sans-serif;
    font-size: 40px;
    color: darkgreen;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 32px;
    color: darkgreen;
    text-align: center;
    margin-top: 20px;
}

.title {
    font-family: magrim, sans-serif;
    font-size: 36px;
    color: darkgreen;
    text-align: center;
    margin-top: 20px;
}

