.body{
    font-family: crimson text;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.h1, h2 {
    font-family: cherry bomb one, sans-serif;
    font-size: 24px;
    color:aquamarine

}

.title {
    font-family: magrim, sans-serif;
    font-size: 36px;
    color: darkgreen;
    text-align: center;
    margin-top: 20px;
}